node_modules
dist
.next
.turbo
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
uploads
tmp
.vscode
.idea
*.tsbuildinfo
sentry.properties
.data
